Bonjour {{ user }},

Veuillez cliquer sur <a href="{{ url('user_change_password', {'tokenPassword': tokenPassword}) }}">ce lien</a> pour réinitialiser votre mot de passe.

Si le lien ne s'ouvre pas : {{ url('user_change_password', {'tokenPassword': tokenPassword}) }}